<div class="container">
  <div *ngIf="post" class="post-wrapper">
    <div class="buttons">
      <a class="redirect-button" routerLink="/all-posts">&larr; Back to Posts</a>
      <a class="redirect-button" *ngIf="wordpress.isLoggedIn()" [routerLink]="['/edit-post', post.id]">
          Edit Post
      </a>
    </div>
    <div class="post-content">
      <img *ngIf="post._embedded['wp:featuredmedia']"
        [src]="post._embedded['wp:featuredmedia'][0].source_url" alt="Featured Image">
      <h1 [innerHTML]="post.title.rendered"></h1>
      <h2 *ngIf="post.acf && post.acf.post_subtitle" class="post-subtitle">
        {{ post.acf.post_subtitle }}
      </h2>
      <div class="content" [innerHTML]="post.content.rendered"></div>
    </div>
  </div>
</div>
