/* Container to center content and limit its width */
.container {
  max-width: 800px; /* Adjust this value to your liking */
  margin: 0 auto;
  padding: 20px;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6
{
  text-align: center;
}

:host ::ng-deep .content h1,
:host ::ng-deep .content h2,
:host ::ng-deep .content h3,
:host ::ng-deep .content h4,
:host ::ng-deep .content h5,
:host ::ng-deep .content h6 {
  text-align: center;
}

:host ::ng-deep .content p img,
:host ::ng-deep .content p img,
:host ::ng-deep .content p img,
:host ::ng-deep .content p img,
:host ::ng-deep .content p img,
:host ::ng-deep .content p img {
  max-width: 100%;
}

/* Style the featured image */
.post-content img {
  display: block;
  max-width: 100%; /* Make sure it's responsive */
  height: auto;
  margin: 20px auto; /* Add space above/below and center it */
  border-radius: 8px;
}

/* Style the post title */
.post-content h1 {
  margin-bottom: 20px;
}

/* Style the main post content */
.post-content .post-full-content {
  text-align: left; /* Justify text to the left for readability */
  line-height: 1.6;
}

/* Style for the 'Back to posts' link */
.back-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
}

.redirect-button {
    border: 1px solid;
    border-radius: 50px;
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

textarea#content {
    max-width: 600px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
