<div class="form-container">
  <div class="grid-flex">
    <h2>Create New Post</h2>
    <a class="redirect-button" routerLink="/all-posts">All Posts</a>
  </div>

  <form #myForm="ngForm" (ngSubmit)="onSubmit()">

    <pre>Is form valid: {{ myForm.valid }}</pre>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" required>
    </div>

    <div class="form-group">
      <label for="subtitle">Post Subtitle</label>
      <input type="text" id="subtitle" [(ngModel)]="subtitle" name="subtitle">
    </div>

    <div class="form-group">
      <label>Categories</label>
      <div class="category-checkboxes">
        <div class="category-inputs" *ngFor="let category of allCategories">
          <label>
            <input type="checkbox" [(ngModel)]="categoriesSelection[category.id]"
              [name]="category.name">
              {{ category.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Featured Image (Optional: a random image will be chosen if none is selected)</label>

      <!-- Option to Upload a New Image -->
      <div class="upload-section">
        <label for="file-upload" class="custom-file-upload">Upload New Image</label>
        <input id="file-upload" type="file" (change)="onFileChange($event)">
        <span *ngIf="fileToUpload" class="file-name">Selected: {{ fileToUpload.name }}</span>
      </div>

      <!-- Option to Choose from Existing Media Library -->
      <div class="image-gallery">
        <div *ngFor="let media of allMedia"
             class="image-option"
             (click)="selectMedia(media.id)"
             [class.selected]="media.id === selectedMediaId">
          <img [src]="media.media_details.sizes.thumbnail.source_url" [alt]="media.title.rendered">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea id="content" [(ngModel)]="content" name="content" rows="10" required></textarea>
    </div>

    <button type="submit">Publish Post</button>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
